body {
  width: 100%;
}

.board {
  border: 1px solid red;
  width: 300px;
  display: flex;
  flex-direction: column;
}
div .row {
  display: block;
  border: 1px solid blue;
  margin: 10px auto;
  padding: 10px;
}
div .box {
  border: 1px solid orange;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 4px;
}

.pegBucket {

}

.bucketPeg {
  display: inline-block;
  width: 20px;
  height: 20px
  border: 1px solid black;
}
