/*meyerweb css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
height: 100%;
background: #37474f;
background: radial-gradient(#607d8b, #37474f);
color: #000;
display: grid;
grid-template-columns: 1fr 6fr 1fr;
grid-template-rows: 80px 2fr 1fr;
justify-items: center;
font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
  text-align: center;
  grid-row: 1;
  grid-column: 2;
  color: #00000099;
}

.gameContainer {
  grid-column: 2;
  grid-row: 2;
  display:grid;
  max-width: 700px;
  min-width: 420px;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(10, 3em);
  grid-column-gap: .5em;
  grid-row-gap: .3em;
  grid-auto-flow: column;
  justify-content: center;
  padding: 30px;
}

.containerHard {
  grid-template-columns: 4fr 1fr 3fr;
  font-size: small;
}

.footer {
  grid-column: 2;
  grid-row: 3;
  max-width: 600px;
  min-width: 420px;

}
.row {
  grid-column-start: 1;
  display:inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 3em);
  grid-auto-flow: row;
  height:3em;
  text-align:center;
}
.rowHard {
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr !important;
}

.row div {
  margin: .2em;
}

.box {
  border: 1px solid orange;
  height: 2em;
  width: 2em;
  display: inline-block;
  margin: 2px;
}

.paintCan {
  text-align: center;
  grid-row: 8/10;
  grid-column: 3;
  display:grid;
  grid-template-columns: 48px 48px 48px;
  align-items: center;
  justify-content: center;
}

.paintCanEasy {
  grid-template-columns: 48px 48px;
}

.paintBrush {
  margin: .4em;
  color: #37474f88;
  padding-top: 7px;
  font-size: 16px;
}

.paintBrushEasy {
  grid-row: 2;
}

.guessButton {
  grid-column: 1/4;
}

.reset-game-btn {
  position: absolute !important;
  bottom: 40%;
  right: 0%;
  animation: fade .5s;
}

.activePaintColor {
  animation: pulse 1.2s infinite linear alternate;
}

@keyframes pulse {
  0% {
  box-shadow:
inset 0 2px 5px 1px #ffffff, 0 1px 3px #11111166
  }
  100% {
  box-shadow:
  inset 0 1px 3px #ffffffaa, 0 1px 3px #11111155;
  }
}

.feedbackRow {
  /*border: 1px solid #eee;*/
  width: 3em;
  height:3em;
  text-align: center;
  display:flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.feedbackRowHard {
  width: 4em;
}

.masterCodeDiv {
  grid-row: 8/11;
  grid-column: 3;
  display:grid;
  grid-template-columns: 48px 48px 48px 48px;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.masterCodeDivHard {
  grid-row: 7/11;
  grid-column: 3;
  grid-template-columns: 48px 48px 48px;
}

div.fade {
  animation: fade 2s;
  opacity: 1;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.masterCode {
  /*border:1px solid red;*/
  width: 2em;
  height: 2em;
  display: inline-block;
}

.emptyPeg {
  box-shadow:inset 0px 1px 0px 0px #ffffff33;
  background-color:#ffffff33;
  background: linear-gradient(#ffffff33, #f0f0f011);
  border-radius:42px;
  display:inline-block;
  height:40px;
  width:41px;
  text-align:center;
}

.activePeg {
  box-shadow:inset 0px 1px 1px 0px #ffffff;
  background-color:#ffffff33;
  background: linear-gradient(#ffffff44, #f0f0f022);
  /*background-color:#f9f9f94d;*/
  border:1px solid #ffffff55;
  animation: pulse 1.2s infinite linear alternate
}

.whitePeg {
  box-shadow:inset 0px 1px 0px 0px #ffffff66;
  background-color:#f5f5f5;
  background: linear-gradient(#f5f5f5, #e0e0e0);
  border-radius:42px;
  display:inline-block;
  height:40px;
  width:41px;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.whitePeg:hover {
  background-color:#e9e9e9;
  background: linear-gradient(#eeeeee, #e0e0e0);
}
.whitePeg:active {
  position:relative;
  top:1px;
}

.magentaPeg {
  box-shadow:inset 0px 1px 0px 0px #d197fe66;
  background-color:#b39ddb;
  background: linear-gradient(#b39ddb, #7e57c2);
  border-radius:42px;
  text-indent:0;
  display:inline-block;
  height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.magentaPeg:hover {
  background-color:#9575cd;
  background: linear-gradient(#9575cd, #7e57c2);
}
.magentaPeg:active {
  position:relative;
  top:1px;
}

.orangePeg {
  box-shadow:inset 0px 1px 0px 0px #fce2c166;
  background-color:#ffe082;
  background: linear-gradient(#ffe082, #ffca28);
  border-radius:42px;
  text-indent:0;
  display:inline-block;
  height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.orangePeg:hover {
  background-color:#ffd54f;
  background: linear-gradient(#ffd54f, #ffca28);
}
.orangePeg:active {
  position:relative;
  top:1px;
}

.bluePeg {
  box-shadow:inset 0px 1px 0px 0px #bbdaf766;
  background-color:#80deea;
  background: linear-gradient(#80deea, #26c6da);
  border-radius:42px;
  text-indent:0;
  display:inline-block;
  height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.bluePeg:hover {
  background-color:#4dd0e1;
  background: linear-gradient(#4dd0e1, #26c6da);
}
.bluePeg:active {
  position:relative;
  top:1px;
}

.redPeg {
  box-shadow:inset 0px 1px 0px 0px #f5978e66;
  background-color:#ef9a9a;
  background: linear-gradient(#ef9a9a, #ef5350);
  border-radius:42px;
  text-indent:0;
  display:inline-block;
  height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.redPeg:hover {
  background-color:#e57373;
  background: linear-gradient(#e57373, #ef5350);
}
.redPeg:active {
  position:relative;
  top:1px;
}

.greenPeg {
  box-shadow:inset 0px 1px 0px 0px #d9fbbe66;
  background-color:#c5e1a5;
  background: linear-gradient(#c5e1a5, #9ccc65);
  border-radius:42px;
  text-indent:0;
  display:inline-block;
  height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  box-shadow: inset 0 1px 2px #ffffffaa, 0 1px 1px #00000033;
}
.greenPeg:hover {
  background-color:#aed581;
  background: linear-gradient(#aed581, #9ccc65);
}
.greenPeg:active {
  position:relative;
  top:1px;
}

.feedbackPeg {
  box-shadow:inset 0px 1px 1px 0px #ffffff66;
  background-color: #ffffff22;
  border-radius:14px;
  display:inline-block;
  height:1em;
  width:1em;
  margin: 2px;
}
.feedbackPegHalf {
  box-shadow:inset 0px 1px 1px 0px #ffffff66;
  background-color:#fff;
  border-radius:14px;
  display:inline-block;
  height:1em;
  width:1em;
  margin: 2px;
  animation: fade .3s;
  box-shadow: inset 0 1px 1px #ffffff33, 0 1px 1px #00000044;
}
.feedbackPegFull {
  box-shadow:inset 0px 1px 1px 0px #ffffff66;
  background-color:#000;
  border-radius:14px;
  display:inline-block;
  height:1em;
  width:1em;
  margin: 2px;
  animation: fade .3s;
  box-shadow: inset 0 1px 1px #ffffff33, 0 1px 1px #00000044;
}

.playerInitials {
  font-size: 1.5em;
  grid-column: 3;
  grid-row: 1/2;
  align-self: start;
  text-align: center;
  font-family: 'Biryani', sans-serif;
  font-weight: 400;
}

.instructions {
  font-size: .9em;
  grid-column: 3;
  grid-row: 2/8;
  transition: 2s;
  align-content: center;
}

input {
  font-size: 2rem !important;
  text-transform: uppercase;
}

input-field {
  margin: 20px !important;
}

@media only screen and (max-width: 550px) {

body {
  height: 100%;
  background: #37474f;
  background: radial-gradient(#607d8b, #37474f);
  color: #000;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 80px 2fr 1fr;
}

/*.header {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
  text-align: center;
  grid-row: 1;
  grid-column: 2;
  color: #00000099;
}
.gameContainer {

  border: 2px solid red;
  display:grid;
  max-width: 600px;
  min-width: 300px;
  grid-template-columns: 2fr;

}
.paintCan {
  text-align: center;
  grid-row: 8/10;
  grid-column: 1/2;
}

.activePaintColor {
  animation: pulse 1.2s infinite linear alternate;
}

.masterCodeDiv {
  grid-row: 8/11;
  grid-column: 1/2;
}
  .masterCodeDivHard {
  grid-row: 7/11;
  grid-column: 1/2;
}
.instructions {
  font-size: .9em;
  grid-column: 2;
  grid-row: 2/8;*/
