/*meyerweb css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
}

.container {
  /*box-sizing: border-box;*/
  margin-top: 1em;
  display:grid;
  grid-template-columns: 300px 50px 200px;
  grid-template-rows: repeat(10, 3em);
  grid-column-gap: .5em;
  justify-content: center;
  /*justify-items: stretch;*/
}

.board {
  border: 1px solid red;
  /*max-width: 300px;*/
  /*display: subgrid;*/
  /*grid-template-columns: 1fr;*/
  /*grid-auto-rows: minmax(100px auto);*/
  /*grid-gap: 1em;*/
  /*justify-content: end;*/
}
.row {
  grid-column-start: 1;
  /*display:sub-grid;*/
    -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
  border:1px solid #dcdcdc;
  color:#777777;
  height:3em;
  text-align:center;
}
.activeRow {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #dcdcdc;
  color:#666666;
  height:3em;
  text-align:center;
}
.box {
/*  border: 1px solid orange;*/
  height: 2em;
  width: 2em;
  display: inline-block;
  /*margin: 6px;*/
}

.paintCan {
/*  display: inline-block;*/
  /*padding: 10px;*/
  border: 1px solid orange;
  /*min-width: 5em;*/
  text-align: center;
  grid-row: 7/11;
  grid-column: 3;
}

.paintBrush {
  margin: .4em;
  /*display: inline-block;
  width: 5em;
  height: 5em;
  border: 1px solid blue;
  margin: 4px;
  box-shadow: 0 6px black;*/
}

.activePaintColor {
  /*border:1px solid black;*/
}

.feedbackWrapper {
  /*grid-column-start: 2;*/
  border: 1px solid grey;
}

.feedbackRow {
/*  display: inline-block;*/
  grid-column-start: 2;
  /*grid-row-start: 1;*/
  grid-row: 1/11;
  /*order:1;*/
  border: 1px solid #eee;
  width: 3em;
  height:3em;
  text-align: center;
}

.masterCodeDiv {
  border: 1em solid red;
}

.masterCode {
  border:1px solid red;
  width: 2em;
  height: 2em;
  display: inline-block;
}



/*.feedbackPeg {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid pink;
  margin: 2px;
}*/

.landing {
  display:none;
}

/*.noMatch {
  background-color: white;
}

.halfMatch {
  background-color: black;
}

.fullMatch {
  background-color: red;
}*/

/* This button was generated using CSSButtonGenerator.com */
.white {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f0f0f0) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #f0f0f0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
  background-color:#ffffff;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  margin: 2px;
}

.white:active {
  position:relative;
  top:1px;
}

.grey {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.grey:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  background-color:#e9e9e9;
}.grey:active {
  position:relative;
  top:1px;
}


.purple {
  -moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
  box-shadow:inset 0px 1px 0px 0px #d197fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
  background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
  background-color:#a53df6;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #9c33ed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7d15cd;
}
.purple:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
  background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
  background-color:#7c16cb;
}.purple:active {
  position:relative;
  top:1px;
}

.orange {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
.orange:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}.orange:active {
  position:relative;
  top:1px;
}

.blue {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}
.blue:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}.blue:active {
  position:relative;
  top:1px;
}


.red {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}
.red:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}.red:active {
  position:relative;
  top:1px;
}

.green {
  -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
  background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
  background-color:#b8e356;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:41px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #86ae47;
}
.green:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
  background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
  background-color:#a5cc52;
}.green:active {
  position:relative;
  top:1px;
}

.feedbackPeg {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:black;
  -webkit-border-top-left-radius:14px;
  -moz-border-radius-topleft:14px;
  border-top-left-radius:14px;
  -webkit-border-top-right-radius:14px;
  -moz-border-radius-topright:14px;
  border-top-right-radius:14px;
  -webkit-border-bottom-right-radius:14px;
  -moz-border-radius-bottomright:14px;
  border-bottom-right-radius:14px;
  -webkit-border-bottom-left-radius:14px;
  -moz-border-radius-bottomleft:14px;
  border-bottom-left-radius:14px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:12px;
  line-height:12px;
  width:12px;
  text-decoration:none;
  text-align:center;
  margin: 2px;
}
.feedbackPeg:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.feedbackPeg:active {
  position:relative;
  top:1px;
}

.feedbackPegHalf {
  -moz-box-shadow:inset 0px 0px 0px 0px #f4cafc;
  -webkit-box-shadow:inset 0px 0px 0px 0px #f4cafc;
  box-shadow:inset 0px 0px 0px 0px #f4cafc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eea1fc), color-stop(1, #d441ee) );
  background:-moz-linear-gradient( center top, #eea1fc 5%, #d441ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eea1fc', endColorstr='#d441ee');
  background-color:#eea1fc;
  -webkit-border-top-left-radius:14px;
  -moz-border-radius-topleft:14px;
  border-top-left-radius:14px;
  -webkit-border-top-right-radius:14px;
  -moz-border-radius-topright:14px;
  border-top-right-radius:14px;
  -webkit-border-bottom-right-radius:14px;
  -moz-border-radius-bottomright:14px;
  border-bottom-right-radius:14px;
  -webkit-border-bottom-left-radius:14px;
  -moz-border-radius-bottomleft:14px;
  border-bottom-left-radius:14px;
  text-indent:0;
  border:1px solid #dd5df4;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:10px;
  line-height:10px;
  width:10px;
  text-decoration:none;
  text-align:center;
}
.feedbackPegHalf:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d441ee), color-stop(1, #eea1fc) );
  background:-moz-linear-gradient( center top, #d441ee 5%, #eea1fc 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d441ee', endColorstr='#eea1fc');
  background-color:#d441ee;
}.feedbackPegHalf:active {
  position:relative;
  top:1px;
}
.feedbackPegFull {
  -moz-box-shadow:inset 0px 0px 0px 0px #fbafe3;
  -webkit-box-shadow:inset 0px 0px 0px 0px #fbafe3;
  box-shadow:inset 0px 0px 0px 0px #fbafe3;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  -webkit-border-top-left-radius:14px;
  -moz-border-radius-topleft:14px;
  border-top-left-radius:14px;
  -webkit-border-top-right-radius:14px;
  -moz-border-radius-topright:14px;
  border-top-right-radius:14px;
  -webkit-border-bottom-right-radius:14px;
  -moz-border-radius-bottomright:14px;
  border-bottom-right-radius:14px;
  -webkit-border-bottom-left-radius:14px;
  -moz-border-radius-bottomleft:14px;
  border-bottom-left-radius:14px;
  text-indent:0;
  border:1px solid #ee1eb5;
  height:1em;
  width:1em;
}
/*.feedbackPegFull:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}.feedbackPegFull:active {
  position:relative;
  top:1px;
}*/
